* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cairo', sans-serif;

}

body{
  background: rgb(245,147,176);
  background: radial-gradient(circle, rgba(245,147,176,1) 35%, rgba(91,55,66,1) 100%);
}

header {
	background-color: #5B3742;
}

nav {
	text-align: center;
}

nav .nav-logo {
	margin-left: 20px;
	float: left;
	padding-top: 15px;
}

nav .nav-logo img {
	max-height: 30px;
}

nav ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: block;
	color: #F9F9F9;
	font-size: 16px;
	line-height: 60px;
	padding: 0 30px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

nav ul li:hover > a {
	background-color: #A86579;
}

nav ul li.dropdown {
	position: relative;
}

nav ul li .dropdown-content {
	display: none;
	position: absolute;
	top: 60px;
	left: 0;
	background-color: #A86579;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

nav ul li .dropdown-content li {
	display: block;
}

nav ul li:hover .dropdown-content {
	display: block;
}

nav ul li .dropdown-content a {
	color: #F9F9F9;
	padding: 0px 16px;
	text-decoration: none;
	display: block;
}

nav ul li .dropdown-content a:hover {
	background-color: #756A6D;
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  
.breadcrumb a {
  color: #2C2C2C;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: #F9F9F9;
}

.breadcrumb span {
  color: #2C2C2C;
  margin: 0 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}

h1 {
    text-align: center;
}
.testimonial {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: solid #5B3742;
}

.testimonial:last-child {
  border-bottom: none;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;    
}

p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

h3 {
    margin-top: 20px;
    font-size: 24px;
}

h4 {
    margin-top: 10px;
    font-size: 18px;
    padding-bottom: 40px;
}
  
footer {
    background-color: #5B3742;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons li {
  margin: 0 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00bcd4;
}


